{% extends "base.html" %}
{% block body-content %}

<div id='content-page'>
    <div id="intro-bkg">
        <div class="container-fluid">
            <section id="intro" class="nav-padding">
                <div class="row-fluid">
                    <div class="span12">
                        <div id="intro-spacer"></div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span6 span-center">
                        <div id="intro-name"><h1>Code</h1></div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span-center">
                        <div class="media-panel">
                            <div class="media-boundingbox">
                                <div class = 'media-div col-sm-4 col-md-3 col-lg-3 nopadding'>
                                    <img width="250px"
                                         src="{{STATIC_URL|default:"/s/"}}assets/Sticker_Main_with_phone.png">
                                </div>
                                <div class="media-post-code col-sm-8 col-md-9 col-lg-9">
                                    <h2>Sticker</h2>
                                    <h4>iOS and Web Development</h4>
                                    <p>Sticker is an app that aggregates <strong>professional</strong> reviews
                                        reviews for restaurants. In short, it is the Metacritic for the restaurant
                                        industry. This project is currently in development.</p>
                                </div>
                                <div class="media-post-code col-sm-8 col-md-9 col-lg-9">
                                    <img class="sticker-image" width="250px"
                                         src="{{STATIC_URL|default:"/s/"}}assets/Sticker_Admin_Photo.png">
                                    <img class="sticker-image" width="250px"
                                         src="{{STATIC_URL|default:"/s/"}}assets/Sticker_Admin_Review.png">
                                    <p>In addition to building the iPhone app, I also built a robust admin
                                        interface for editors to add content such as reviews, restaurant photos,
                                        and awards</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span-center">
                        <div class="media-panel">
                            <div class="media-boundingbox media-boundingbox-code">
                                <div class = 'media-div col-md-6 nopadding'>
                                    <img width="500px"
                                         src="{{STATIC_URL|default:"/s/"}}assets/Foursquare_Venue_Console.png">
                                </div>
                                <div class="media-post-code col-sm-8 col-md-6 col-lg-6">
                                    <h2>Foursquare Venue Console</h2>
                                    <h4>Web Development<a style="padding-left: 10px"
                                                             href="https://github.com/jeremyk23/Foursquare-Venue-Console"><img
                                            width="25px" src="{{STATIC_URL|default:"/s/"}}assets/GitHub-Mark-64px.png"></a></h4>
                                    <p>There is so much great data in Foursquare's API but it can be a little
                                        cumbersome to quickly access and grab data through their developer
                                        console. So I built my own.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span-center">
                        <div class="media-panel">
                            <div class="media-boundingbox media-boundingbox-code">
                                <div class = 'media-div col-md-6 nopadding'>
                                    <img width="500px"
                                         src="{{STATIC_URL|default:"/s/"}}assets/Sound_Platforming.png">
                                </div>
                                <div class="media-post-code col-sm-8 col-md-6 col-lg-6">
                                    <h2>Sound Platforming</h2>
                                    <h4>Python development<a style="padding-left: 10px"
                                                             href="https://github.com/jeremyk23/Musical-Platformer"><img
                                            width="25px" src="{{STATIC_URL|default:"/s/"}}assets/GitHub-Mark-64px.png"></a></h4>
                                    <p>A retro, audio platforming game I built for the University Of Oregon's
                                        annual BADPAT competition. This game which plays musical accents on each
                                        platform jump to complement the backing music track,
                                        ended up winning the competition.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <div id="intro-arrow" class="non-tablet-mobile" onclick="goToByScroll('featured-work-bkg');"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock %}
