{% extends "base.html" %}
{% block body-content %}

<div id='content-page'>
    <div id="intro-bkg">
        <div class="container-fluid">
            <section id="intro" class="nav-padding">
                <div class="row-fluid">
                    <div class="span12">
                        <div id="intro-spacer"></div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span6 span-center">
                        <div id="intro-name"><h1>Video Games And Film</h1></div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span-center">
                        <div class="media-panel">
                            <div class="media-boundingbox">
                                <div class = 'media-div-video col-md-7 nopadding'>
                                    <iframe width="560" height="315" src="//www.youtube.com/embed/GPAIAF95a_E?rel=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <div class="media-post-video col-md-4">
                                    <h2>Appsomniacs: Crash Cart</h2>
                                    <h4>Music And Sound Design</h4>
                                    <a href="https://itunes.apple.com/us/app/crash-cart/id665173771?mt=8"><img src="{{STATIC_URL|default:"/s/"}}assets/Download_on_the_App_Store_Badge_US-UK_135x40.svg"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span-center">
                        <div class="media-panel">
                            <div class="media-boundingbox">
                                <div class = 'media-div-video col-md-7 nopadding'>
                                    <iframe width="560" height="315" src="//www.youtube.com/embed/YuWHF7cSLfU?rel=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <div class="media-post-video col-md-4">
                                    <h2>Rayman Origins: Trailer Music And Sound Replacement</h2>
                                    <h4>Music And Sound Design</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span6 span-center">
                        <div id="intro-name"><h1>Music</h1></div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span-center">
                        <div class="media-panel">
                            <div class="media-boundingbox">
                                <div class = 'media-div col-sm-4 col-md-3 col-lg-3 nopadding'>
                                    <img width="250px" src="{{STATIC_URL|default:"/s/"}}assets/Sticker_Main.png">
                                </div>
                                <div class="media-post col-sm-8 col-md-9 col-lg-9">
                                    <h2>Jeremy Klein & Spencer Linn: Dingodile</h2>
                                    <h4>Composition, MIDI Programming, Mixing and Mastering</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span12">
                        <div id="intro-arrow" class="non-tablet-mobile" onclick="goToByScroll('featured-work-bkg');"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock %}
