{% extends "base.html" %}
{% block body-content %}

<!-- Home page ================================================== -->
<div id="home-page">
    <div id="intro-bkg">
        <div class="container-fluid">
            <section id="intro" class="nav-padding">
                <div class="row-fluid">
                    <div class="span12">
                        <div id="intro-spacer"></div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span6 span-center">
                        <div id="intro-name"><h1>Jeremy Klein</h1></div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span-center">
                        <div id="intro-copy" class="">
                            <p class="intro-copy whitetxt">Hi there. I am an iOS developer from Portland Oregon. I occasionally like to dabble in sound design and composition for film and video games.</p>
                        </div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span12">
                        <div id="intro-arrow" class="non-tablet-mobile" onclick="goToByScroll('featured-work-bkg');"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock %}